[project]
	description = a light weight and easy to use tableview slide effect.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lawrence (becomedragon)
[access "refs/for/refs/*"]
	read = group user/lawrence (becomedragon)
	push = group user/lawrence (becomedragon)
	label-Code-Review = -2..+2 group user/lawrence (becomedragon)
	label-Verified = -1..+1 group user/lawrence (becomedragon)
	rebase = group user/lawrence (becomedragon)
	removeReviewer = group user/lawrence (becomedragon)
	submit = group user/lawrence (becomedragon)
[access "refs/heads/*"]
	read = group user/lawrence (becomedragon)
	create = group user/lawrence (becomedragon)
	push = +force group user/lawrence (becomedragon)
	pushMerge = group user/lawrence (becomedragon)
[access "refs/tags/*"]
	push = +force group user/lawrence (becomedragon)
	pushTag = group user/lawrence (becomedragon)
	pushSignedTag = group user/lawrence (becomedragon)
